
<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div id="variables"  class="field">
    <input type="hidden" value="1" id="total_vars">
    <button type="button" id="add_variable">Add</button>
    <button type="button" id="remove_variable">Remove</button>
    <%= form.label :variables %>
    <span id='variable-0'><input multiple='multiple' type='text' name='quiz[variables][]'></span>
  </div>


  <div id="initial_values" class="field">
    <input type="hidden" value="1" id="total_vals">
    <%= form.label :variable_initial_values %>
    <span id='initial_value-0'><input multiple='multiple' type='number' name='quiz[variable_initial_values][]'></span>
  </div>


  <div class="field">
    <%= form.label :available %>
    <%= form.check_box :available %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'erb_form_functions' %>