
<%= form_with(model: quiz) do |form| %>
  <% if quiz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(quiz.errors.count, "error") %> prohibited this quiz from being saved:</h2>

      <ul>
        <% quiz.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>


  <div class="field">
    <table id="variables">
      <input type="hidden" value="<%= quiz.variables.count %>" id="total_vars">
      <tr>
        <th><%= form.label :variables %></th>
        <th><%= form.label :variable_initial_values %></th>
      </tr>
      <% quiz.variables.zip(quiz.variable_initial_values).each_with_index do |variable, variable_initial_value, index| %>
        <tr id='variable-<%= variable_initial_value %>'>
          <td><input multiple='multiple' type='text' value='<%= variable[0] %>' name='quiz[variables][]'></td>
          <td><input multiple='multiple' type='number' value='<%= variable[1] %>' name='quiz[variable_initial_values][]'></td>
        </tr>
      <% end %>

    </table>

      <%# quiz.variables&.each do |variable| %>
<!--        <span id='variable-0'><input multiple='multiple' type='text' value='<%#= variable %>' name='quiz[variables][]'></span>-->
      <%# end %>

<!--      <input type="hidden" value="1" id="total_vals">-->

      <%# quiz.variable_initial_values&.each do |variable_initial_value| %>
<!--          <span id='initial_value-0'><input multiple='multiple' type='number' value='<%#= variable_initial_value %>' name='quiz[variable_initial_values][]'></span>-->
      <%# end %>

  </div>

  <div>
    <button type="button" id="add_variable">Add</button>
    <button type="button" id="remove_variable">Remove</button>
  </div>



  <div class="field">
    <%= form.label :available %>
    <%= form.check_box :available %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= javascript_pack_tag 'erb_form_functions' %>