<nav style="text-align: right">
<% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>          
  <% else %>
    <%= link_to('Login', new_user_session_path)  %> |
    <%= link_to('Sign Up', new_user_registration_path)  %>  
  <% end %>
</nav>
<h1>Quizzes</h1>
<h3>Quiz Count: <%= @quizzes.count %></h3>

<% if current_user.admin? %>
  <td><%= link_to('Create Quiz', new_quiz_path)%></td>
<% end %>


<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <% if current_user.admin? %>
    <th></th>
    <% end %>

  </tr>
  </thead>

  <tbody>
  <% @quizzes.each do |quiz| %>
    <tr>
      <td><%= quiz.name %></td>
      <td><%= quiz.description %></td>
      <td><%= link_to('View', quiz_path(quiz))%></td>
      <% if current_user.admin? %>
        <td><%= link_to('Edit', edit_quiz_path(quiz))%></td>
      <% end %>

    </tr>
  <% end %>
  </tbody>
</table>
