<section id="cover" class="min-vh-100">
  <div class="sp-form">

    <div class="row">
      <div class="col-xl-8 col-lg-6 col-md-8 col-sm-11 mx-auto text-center form p-4">
        <h1 class="text-white">Sign up</h1>
      </div>

      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= render "devise/shared/error_messages", resource: resource %>
          <p class="text-danger">
            <% if flash[:alert] %>
              <%= flash[:alert] %>
            <% end %>
          </p>
        </div>

        <div class="row g-2 mb-2">
          <div class="col-md">
            <div class="form-floating">
              <%= f.text_field :first_name, autofocus: true, class: 'form-control', autocomplete: "First Name", placeholder: "First Name" %>
              <%= f.label :first_name %>
            </div>
          </div>

          <div class="col-md">
            <div class="form-floating">
              <%= f.text_field :last_name, class: 'form-control', autocomplete: "Last Name", placeholder: "Last Name" %>
              <%= f.label :last_name %>
            </div>
          </div>
        </div>

        <div class="form-floating mb-2">
          <%= f.email_field :email, class: 'form-control', autocomplete: "email", placeholder: "Email Address" %>
          <%= f.label :email %>
        </div>

        <div class="form-floating mb-2">
          <%= f.label :organisation, "Organisation"%><br />
          <%= f.select :organisation_id, options_for_select(@organisations), {}, { :class => 'form-select'} %>
        </div>

        <div class="form-floating mb-2">
          <%= f.text_area :bio, class: 'form-control', autocomplete: "bio", placeholder: "A little about yourself" %>
          <%= f.label :bio%>
        </div>

        <div class="form-floating mb-2">
          <%= f.password_field :password, class: 'form-control', autocomplete: "password", placeholder: "Password - 6 characters minimum" %>
          <%= f.label :password, "Password (6 characters minimum)" %>
        </div>

        <div class="form-floating mb-2">
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "password", placeholder: "Password Again"  %>
          <%= f.label :password_confirmation %>
        </div>

        <div class="form-floating mb-2 terms-input">
          <%= f.check_box :terms, class: 'form-check-input' %>
          <%= f.label :terms, "I have read and agree to the sites" %> <a href="/terms">Terms and Conditions</a>
        </div>

        <%= f.hidden_field :organisation_id, class: 'form-control', value: params[:organisation] %>

        <div class="actions form-group">
          <%= f.submit "Sign up", class: 'btn btn-info mb-2' %>
        </div>
      <% end %>

      <div class="other-actions">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</section>
