<section id="cover" class="admin-page min-vh-100">
  <div class="container min-vh-100">
    <div class="row">
      <div class="col">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <h2>Quizzes</h2>
        <table class="table table-light table-hover">
          <thead>
            <tr>
              <th scope="col">Quiz</th>
              <th scope="col">No. of Attempts</th>
            </tr>
          </thead>
          <tbody>
          <% @quizzes.each do |quiz| %>
            <tr>
              <td>
                <a href="/admin/quizzes/<%= quiz[:id] %>/users/<%= @user.id %>">
                  <%= quiz[:name] %>
                </a>
              </td>
              <td>
                <a href="/admin/quizzes/<%= quiz[:id] %>/users/<%= @user.id %>/quizzes/<%= quiz[:id] %>">
                  <%= quiz[:count] %>
                </a>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>