<section id="cover" class="min-vh-100 user-scores-page">
  <div class="container">
    <div class="row">
      <div class="col-6 offset-3">
        <h1>Scores for user <%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
    </div>
    <% @quiz_attempts.each do |attempt| %>
      <div class="row">
        <div class="col-4 offset-4">
          <h5><%= Quiz.find(attempt.quiz_id).name %></h5>
          <table class="table table-light table-hover">
            <% attempt.scores.each do |key, value| %>
              <tr>
                <td><%= key.capitalize %></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</section>