<section class="admin-page">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1><%= @user.first_name %> <%= @user.last_name %></h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <% if @user.scenarios_attempted.length > 0 %>
          <h2>Scenarios</h2>
          <table class="table table-light table-hover">
            <thead>
              <tr>
                <th scope="col">Scenario</th>
                <th scope="col">No. of Attempts</th>
              </tr>
            </thead>
            <tbody>
            <% @user.scenarios_attempted.each do |scenario| %>
              <tr>
                <td>
                  <a href="/admin/scenarios/<%= scenario.id %>/users/<%= @user.id %>">
                    <%= scenario.name %>
                  </a>
                </td>
                <td>
                  <a href="/admin/scenarios/<%= scenario.id %>/users/<%= @user.id %>">
                    <%= Attempt.where('scenario_id = ? and user_id = ?', scenario, @user).count %>
                  </a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        <% else %>
          <h2>This user has attempted no scenarios</h2>
        <% end %>
      </div>
    </div>
  </div>
</section>