<section id="cover" class="min-vh-100">
  <div class="sp-form">

    <div class="row">
      <div class="col-xl-8 col-lg-6 col-md-8 col-sm-11 mx-auto text-center form p-4">
        <h1 class="text-white">Change your password</h1>
      </div>

      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-floating mb-2">
          <%= f.password_field :password, class: 'form-control', autofocus: true, autocomplete: "new-password", placeholder: "New Password - 6 characters minimum" %>
          <%= f.label :password, "New Password (6 characters minimum)" %>
        </div>

        <div class="form-floating mb-2">
          <%= f.password_field :password_confirmation, class: 'form-control', autocomplete: "new-password", placeholder: "Confirm new password" %>
          <%= f.label :password_confirmation, "Confirm new password" %>
        </div>

        <div class="actions form-group">
          <%= f.submit "Change my password", class: "btn btn-warning mb-2" %>
        </div>
      <% end %>

      <div class="other-actions">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</section>
