<%= form_for answer, url: { action: action } do |form| %>
  <% if answer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(answer.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
        <% answer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.label :variable_mods %>
    <table>
      <% @variables&.each do |variable| %>
        <tr>
          <td><label for='answer[variable_mods][<%= variable %>]'><%= variable %>: </label></td>
          <td>
            <input multiple='multiple' type='number'
                   value='<%= answer.variable_mods[variable] if answer.variable_mods.present? && answer.variable_mods.has_key?(variable) %>'
                   name='answer[variable_mods][<%= variable %>]'
                   placeholder="<%= variable %>">
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="field">
    <%= form.label :next_question_order %>
    <%= form.number_field :next_question_order %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
