<section id="" class="min-vh-100 info-page">
  <div class="text-container">
    <div class="row">
      <div class="col">
        <h1 class="text-center">About</h1>
        <p class="lead">The Scenario Platform allows the creation of non-linear branching scenarios where each answer that a
          participant selects can influence a range of background variables and link to an arbitrary next question.</p>

        <p>The idea was initially scoped for trainee solicitors to practise interview scenarios. As the project
          developed there was a wider demand beyond the original scope. The current platform should be diverse enough to
          be used in other areas such as rehabilitation, medical scenarios and customer service training.</p>

        <p>If you're interested in a <strong>demo</strong> of the software, finding out more or setting up your organisation on
          the platform then please <a href="mailto:sceanario-platform@legaltech.wales">send us an email</a>.</p>

        <p>If you're looking for more information on how to build scenarios then we have a <%= link_to 'Guide', guide_path %>
          which will hopefully help. </p>

        <p>This is an early prototype, we know its a little rough around the edges and there is lots of room for improvement. If you have any suggestions as to how we can improve it, the please get in touch and let us know.</p>

        <div>
          <h3>Coming Soon</h3>
          Some of the improvements we have planned include:
          <ul>
            <li>Add warning on making scenario available if its incomplete.</li>
            <li><s class="text-muted">Add hints and tips to create and update forms, and around the scenario builder</s> Added on 12th March</li>
            <li>Improving the look and feel of the emails you receive</li>
            <li><s class="text-muted">Admins receive an email when they have new members to confirm in their organisation</s> Added on 12th March</li>
            <li>Improvements to management of your organisation</li>
            <li><s class="text-muted">Admins can delete users from their organisation</s> Added on 12th March</li>
            <li><s class="text-muted">Admins should not be able to remove their own admin rights</s> Added on 12th March</li>
            <li><s class="text-muted">Improvements of the admin view on mobile</s> Added on 14th March</li>
            <li>Allowing Multi-select answers</li>
            <li>Allow more formatting of scenario and question descriptions</li>
            <li>Improve error message when invalid question order is added</li>
            <li><s class="text-muted">Provide more information to make it easier to set question order</s> Added on 12th March</li>
            <li><s class="text-muted">Make it easier to add final question in scenario (no more "-1")</s> Added on 12th March</li>
            <li>Warning on making scenario available if there are unlinked answers</li>
            <li>Allow or disable back-tracking for each scenario</li>
            <li>Fix a bug when trying to delete a scenario which has been attempted previously</li>
            <li>Add pagination for scenario attempts</li>
          </ul>
        </div>

        <% unless user_signed_in? %>
          <div class="text-center">
            <hr />
            <%= link_to 'Login', new_user_session_path, class: "btn btn-primary" %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-info" %>
            <%= link_to 'Home', root_path, class: "btn btn-secondary"  %>
            <hr />
          </div>
        <% end %>

        <div class="the-lab">
          <p class="lead">The Scenario Platform was created by the Legal Innovation Lab Wales which is an ERDF funded project and part of the Hillary
            Rodham Clinton School of Law at Swansea University.</p>
          <div class="text-center">
            <a href="https://legaltech.wales" class="btn btn-outline-info">Visit Our Site</a>
          </div>
          <div class="images mt-4 text-center">
            <%= image_tag 'LILW-SOL.png', class: 'lilw-logo' %>
            <%= image_tag 'erdf.png', class: 'erdf-logo' %>
          </div>

        </div>

      </div>
    </div>
  </div>
</section>