<section id="cover" class="<% if user_signed_in? %>homepage<% else %>min-vh-100<% end %>">
  <div class="sp-form">
    <div class="row text-white">
      <div class="mx-auto text-center form p-4">
        <h1 class="mb-5">Scenario Platform</h1>
        <p>An application created by the Legal Innovation Lab Wales for developing interactive scenarios</p>
        <div class="text-center">
          <% if user_signed_in? %>
            <%= link_to "Scenario App", app_path, class: "btn btn-sm btn-primary" %>
            <%= link_to "About This Project", about_path, class: "btn btn-sm btn-secondary"  %>
          <% else %>
            <%= link_to 'Login', new_user_session_path, class: "btn btn-sm btn-primary" %>
            <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-sm btn-info" %>
            <%= link_to "About This Project", about_path, class: "btn btn-sm btn-secondary"  %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
