<h1>The landing page</h1>
<p>Find me in app/views/pages/main.html.erb</p>
<nav style="text-align: right">
<% if user_signed_in? %>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    <%= link_to('Edit Profile', edit_user_registration_path) %>
  <% else %>
    <%= link_to('Login', new_user_session_path)  %> |
    <%= link_to('Sign Up', new_user_registration_path)  %>  
  <% end %>
</nav>
<p>If you're logged in, check out <%= link_to "the app", app_path %>!</p>
<p> You can also <%= link_to "edit your profile", app_path %>!</p>
