<section id="cover" class="min-vh-100">
  <div class="sp-form">

    <div class="row">
      <div class="col-xl-8 col-lg-6 col-md-8 col-sm-11 mx-auto text-center form p-4">
        <h1 class="text-white">Log in</h1>
      </div>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= render "devise/shared/error_messages", resource: resource %>
          <p class="text-danger">
            <% if flash[:alert] %>
              <%= flash[:alert] %>
            <% end %>
          </p>
        </div>

        <div class="form-floating mb-3">
          <%= f.text_field :email, autocomplete: "email", autofocus: true, class: 'form-control', placeholder: 'Email', type: 'email' %>
          <%= f.label :email %>
        </div>

        <div class="form-floating">
          <%= f.password_field :password, autocomplete: "password", class: 'form-control', placeholder: 'Password' %>
          <%= f.label :password %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="form-group text-white">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>

        <div class="actions form-group">
          <%= f.submit "Log in", class: 'btn btn-primary mb-2' %>
        </div>
      <% end %>

      <div class="other-actions">
        <%= render "devise/shared/links" %>
      </div>
    </div>

  </div>
</section>
