<!--suppress ALL -->
<div class="row">
  <%= form_with(model: scenario, id: 'scenario_form') do |form| %>
    <% if scenario.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(scenario.errors.count, "error") %> prohibited this scenario from being saved:</h2>

        <ul>
          <% scenario.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field mb-3">
      <%= form.label :name, class: "form-label" %>
      <%= form.text_field :name, class: "form-control" %>
    </div>

    <div class="field mb-3">
      <%= form.label :description, class: "form-label" %>
      <%= form.text_area :description, class: "form-control" %>
    </div>


    <div class="field mb-3 justify-content-center">
      <table id="variables" class="mx-auto">
        <input type="hidden" value="<%= scenario.attempts.count %>" id="attempt_count">
        <tr>
          <th><%= form.label :variables, class: "form-label" %></th>
          <th><%= form.label :variable_initial_values, class: "form-label" %></th>
          <th></th>
        </tr>

        <% scenario.variables_with_initial_values&.each do |variable| %>
          <tr>
            <td>
              <input multiple='multiple' type='text' value='<%= variable[0] %>' name='scenario[variables][]' class="form-control">
            </td>
            <td>
              <input multiple='multiple' type='number' value='<%= variable[1] %>' name='scenario[variable_initial_values][]' class="form-control">
            </td>
            <td>
              <button type="button" class="btn btn-sm btn-danger remove_variable">Remove</button>
            </td>
          </tr>
        <% end %>
      </table>

      <div class="text-center">
        <button type="button" id="add_variable" class="btn btn-sm btn-success">Add</button>
      </div>
    </div>

    <div class="field mb-3 text-center">
      <%= form.label :available %>
      <%= form.check_box :available %>
    </div>

    <div class="actions text-center">
      <%= form.submit nil, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>


<%= javascript_pack_tag 'erb_form_functions' %>