<section class="scenario-header text-center">
    <div class="container scenario-show-container shadow rounded-3">
      <div class="row">
        <h1 class="scenario-heading"> <%= @scenario.name %> </h1>
        <p> <%= @scenario.description %> </p>

        <% if @scenario.questions.find_by(order: 0).present? %>

          <div class="text-center"><%= link_to "Start Scenario", start_scenario_url(scenario_id: @scenario), method: "post", class: "btn btn-success btn-lg" %></div>
        <% elsif current_user.admin? %>
          <h3> Please add a question with order 0 as a starting point for your scenario</h3>
        <% else %>
          <div class="text-center"><button class="btn btn-primary btn-large disabled">Start Scenario</button></div>
        <% end %>
      </div>
    </div>
  <% if @attempts.present? %>
    <div class="container scenario-show-container shadow rounded-3">
      <div class="row">
        <h1 class="scenario-heading"> Previous Attempts </h1>
        <% @attempts.each do |attempt| %>
          <p class="mb-0"><strong><%= attempt.attempt_number.ordinalize %> Attempt.</strong></p>
          <% if attempt.scores.present? %>
            <p class="mb-0"><em>Scores: </em>
            <p><% attempt.scores.each do |score| %><%= score[0].capitalize %>: <%= score[1] %>, <% end %></p>
          <% else %>
            <p>This attempt has not been completed.</p>
            <div class="text-center"><%= link_to "Resume Attempt", resume_scenario_url(attempt_id: attempt), method: "put", class: "btn btn-success btn-md" %></div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>

<% if current_user.admin? %>
  <section class="admin-view">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 col-sm-10 admin-header align-self-center">
          <div class="card">
            <div class="card-body">
              <h2 class="text-danger text-center">Admin Only View</h2>
              <h2 class="text-center"><%= link_to "Edit Scenario", edit_scenario_path, class: "btn btn-warning btn-sm" %>
                <%= link_to "Guide", guide_path, class: "btn btn-primary btn-sm", target: :_blank %></h2>

                <table class="mx-auto">
                  <tr>
                    <th colspan="2"><h5>Variables & Starting Values </h5> </th>
                  </tr>

                    <% @scenario.variables.zip(@scenario.variable_initial_values) do |variable, variable_initial_value| %>
                    <tr class="text-start">
                      <td><%= variable %>: </td><td><%= variable_initial_value %></td>
                    </tr>
                    <% end %>
                </table>

              <h2 class="text-center">
                <button class="btn btn-sm btn-info" onclick="toggleHints()">Show Getting Started Hints</button>
              </h2>
              <h2 class="text-center">
                <button class="btn btn-sm btn-secondary" onclick="toggleAttempts()">Show Attempts</button>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="hints" class="container">
      <div class="row justify-content-md-center shadow-sm p-3 mb-5 bg-white rounded text-center">
        <h3>Hints</h3>
        <div class="text-start">
          <h5>First things first</h5>
          <p>
            Add your first question. The first question of the scenario should have the order 0.
            To begin, please select add a question below and set it with order 0. Next,
            you can add answers to that question which can: Change your assessment variables & Lead to different
            questions depending on the a order selected.
          </p>
          <h5>Before you create any answers.</h5>
          <p>
            Make sure you're happy with your scenario variables. At the moment, updating variables after you've created
            loads of answers is much more work that it should be. We'll work on improving that in the future.
          </p>
          <h5>Question Order</h5>
          <p>The question order is a local reference to the question. Other than the first question which must have the
            order 0, it doesn't matter what order you give to a question. It must be unique within the quiz. It just
            indicates to an answer which question it should go to next.</p>
          <h5>Answer - Next Question Order</h5>
          <p>When you create an answer, you don't have to add the next question order immediately. A lot of the time you
            won't have created that next question. You can save the answer without the next question order filled in and
            come back to it later.</p>
          <h5>Last Answer - End of the scenario</h5>
          <p>If an answer is the end of the scenario, set its next question order to <strong>-1</strong> this will
            indicate to the platform to calculate the totals for the attempt and display the summary.</p>
          <h5>Exploring the Quiz</h5>
          <p>Once you have a few questions and answers set up, you can explore the quiz by clicking on the "Next
            Question" button in the answer card. This will take you to the question which the answer links to. </p>
          <h5>Feedback</h5>
          <p>The app is still an early prototype. If you have any ideas, suggestions or general feedback please let us
            know!</p>
        </div>
      </div>
    </div>

    <div id="attempts" class="container">
      <div class="row justify-content-md-center shadow-sm p-3 mb-5 bg-white rounded text-center">
        <h3>Scenario Attempts</h3>
        <p>Total Attempts: <%= @scenario.attempts.count %></p>
        <p>by <%= @scenario.attempts.map { |u| [u.user_id] }.uniq.count %> Users</p>
        <h2 class="text-danger">Do some other stuff here</h2>
        <p>Completed By</p>
        <% @scenario.attempts.map { |qa| [qa.user] }.uniq.each do |user| %>
          <p class="mb-0"><%= user[0].first_name %> <%= user[0].last_name %></p>
        <% end %>
        <hr>
        <ul>TODO List
          <li>count of how many times each user has completed scenario</li>
          <li>summary of scores</li>
          <li>best score?</li>
        </ul>

      </div>
    </div>

    <div class="container">
      <% @scenario.questions.each do |question| %>
        <div id="question_order_<%= question.order %>" class="row justify-content-md-center shadow p-3 mb-5 bg-white rounded">
          <h5>Question Order: <%= question.order %></h5>
          <h3><%= question.description %></h3>
          <h4><%= question.text %></h4>

          <% question.answers.each do |answer| %>
            <div class="col-sm-6 col-md-4 col-lg-3">
              <div class="card shadow-sm mb-5 bg-white rounded">
                <div class="card-body text-center">
                  <h5 class="card-title"><%= answer.text %></h5>
                  <% if answer.next_question_order.present? %>
                    <a href="#question_order_<%= answer.next_question_order %>" class="btn btn-outline-primary btn-sm">
                      Next Question: <%= answer.next_question_order %>
                    </a>
                  <% else %>
                    <a href="#" class="btn btn-primary btn-sm disabled">No Next Question</a>
                  <% end %>
                </div>
                <div class="card-footer small ">
                  <table class="mx-auto">
                    <tr>
                      <th colspan="2"><em>Variable Modifiers:</em></th>
                      <% if answer.variable_mods.present? %>
                        <% answer.variable_mods&.each do |variable_mod| %>
                        <tr>
                          <td><%= variable_mod[0] %>:</td>
                          <td><strong><%= variable_mod[1] %></strong></td>
                        </tr>
                      <% end %>
                    <% else %>
                      <% @scenario.variables&.each do |variable| %>
                        <tr>
                          <td><%= variable %>:</td>
                          <td><strong> nil </strong></td>
                        </tr>
                      <% end %>

                    <% end %>
                    </tr>
                  </table>

                </div>
                <div class="card-footer text-center">
                  <%= link_to "Edit Answer", edit_scenario_question_answer_path(@scenario, question, answer), class: "btn btn-warning btn-sm"  %>
                </div>
              </div>
            </div>
          <% end %>

          <div>
            <%= link_to "Edit Question", edit_scenario_question_path(@scenario, question), class: "btn btn-warning" %>
            <%= link_to "Add New Answer", new_scenario_question_answer_path(@scenario, question), class: "btn btn-info" %>
          </div>
        </div>
      <% end %>

    </div>

    <div class="container">
      <div class="row justify-content-md-center shadow p-3 mb-5 bg-white rounded">
        <div class="text-center">
          <%= link_to "Add new question", new_scenario_question_path(@scenario), class: "btn btn-info" %>
        </div>
      </div>
    </div>
  </section>
<% end %>

<script>
    function toggleAttempts() {
      const el = document.getElementById('attempts');
      el.style.display = (el.style.display === 'block' ? 'none' : 'block');
    }
    function toggleHints() {
        const el = document.getElementById('hints');
        el.style.display = (el.style.display === 'block' ? 'none' : 'block');
    }
</script>
