<!DOCTYPE html>
<html>
<head>
  <title>QuizBuilder</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">

</head>

<header class='clearfix'>

    <nav class="navbar navbar-light bg-light">
      <h1 class="navbar-brand" href="/">Scenario Platform</h1>
      <form class="form-inline">

        <% if user_signed_in? %>
          <%= link_to 'Scenarios', app_path, class: "btn btn-outline-secondary" %>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-outline-secondary" %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-warning" %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, class: "btn btn-outline-primary"  %>
          <%= link_to 'Sign Up', new_user_registration_path, class: "btn btn-outline-info"  %>
        <% end %>

      </form>
    </nav>

</header>

<body id="overboot">

  <% flash.each do |type, msg| %>
    <div class="alert <%= alert_class_for(type) %> position-absolute top-0 start-50 translate-middle-x">
      <%= type.capitalize %>: <%= msg %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
