<!DOCTYPE html>
<html>
<head>
  <title>QuizBuilder</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">

</head>
<% if user_signed_in? %>
  <header class='clearfix'>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="/">Scenario Platform</a>
      <form class="form-inline">
        <% if current_user.admin? %>
          <a href="/admin" class="btn btn-secondary">Admin</a>
        <% end %>
          <%= link_to 'Scenarios', app_path, class: "btn btn-primary" %>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-success" %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>
      </form>
    </nav>
  </header>
<% end %>

<body id="overboot">
  <% flash.each do |type, msg| %>
    <div class="alert <%= alert_class_for(type) %> position-absolute top-0 start-50 translate-middle-x">
      <%= msg %>
    </div>
  <% end %>

  <%= yield %>

</body>
</html>
