<!DOCTYPE html>
<html>
<head>
  <title>QuizBuilder</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Carter+One&family=Oxygen:wght@300;400;700&display=swap" rel="stylesheet">

</head>

<header class='clearfix'>
  <nav style="text-align: right">

    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="/">Scenario Platform</a>
      <form class="form-inline">

        <% if user_signed_in? %>
          <% if current_user.admin? %>
            <%= link_to 'Admin view', app_path, class: "btn btn-outline-secondary" %>
          <% else %>
            <%= link_to 'Scenarios', app_path, class: "btn btn-outline-secondary" %>
            <%end %>
          <%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-outline-secondary" %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "btn btn-outline-primary" %>
        <% else %>
          <%= link_to('Login', new_user_session_path) %> |
          <%= link_to('Sign Up', new_user_registration_path) %>
        <% end %>
        </div>
      </form>
    </nav>
</header>

<body id="overboot">
<% flash.each do |type, msg| %>
  <section class="alert alert-info">
    <%= msg %>
  </section>
<% end %>
<%= yield %>
</body>
</html>